annotated-types
anyio
h11
streamlit
opencv-python
langchain_groq
certifi
charset-normalizer
langchain_ollama
distro
httpcore
httpx
idna
agent
jiter
jsonpatch
jsonpointer
langchain-core
langchain-openai
langchain-ollama
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
numpy
openai
ollama
pydantic
pydantic-settings